.btn {
  font-weight: bold;
  margin-bottom: auto;
  background-color: inherit;
  margin: 10px;
  padding: 5px;
  border-style: none;
  padding-top: 10px;
  text-decoration: underline;
}

.btn-active {
  color: #2563eb;
  text-decoration: underline;
  text-decoration: aqua;
}

.listContainer {
  border-bottom: thin;
}
